<h2>Thank You for Your Support!</h2>
<p>
 We'll be in touch shortly to provide you with payment details and more information.
</p>
<a href="#" class="btn btn-primary" onclick="window.location.reload">Continue</a>