      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Make a difference in a life</h1>
          <p>
            Donate R200 a week to directly help a person in need.
          </p>
          <p>
            Every rand you give goes directly to the recipient, 
            and we track how it is spent, so that you can see first-hand how effective it is.
          </p>
          <p>
            <a href="<%= about_path %>" class="btn btn-primary my-2">How it Works</a>
          </p>
        </div>
      </div>

      <div class="container">
        <h2>This is who you could help:</h2>
      </div>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <% @recipients.each do |recipient| %>
              <%= render recipient %>
            <% end %>
          </div>
        </div>
      </div>
