/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 $primary:       #263468 !default;
 $secondary:     #696B93 !default;
 $success:       #5BA152 !default;
 $info:          #6C3875 !default;
 $warning:       #F6D04D !default;
 $danger:        #AF3433 !default;
 $light:         #C0BFCF !default;
 $dark:          #454E7D !default;

 $body-color: $dark;
 $border-radius: .15rem !default;
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";